extends layout

block content
    div.container
        div.row
            div.col-sm-10.col-md-8.col-md-offset-8
                form(name='editorContent',action='/editor',method='POST')
                    div.input.editor(class='text-center')
                        h1(name='title') Your Title
                        h3(name='shortScript') Your Shortscript 
                        h5(name='content') Your Paper content here.
                    div.actions(class='text-center')
                        input(type="submit",name="save",value="Save",class="btn btn-primary") 
                        input(type="submit",name="publish",value="Publish",class="btn btn-primary")
