html
    head
        title=title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/medium-editor.min.css', type='text/css', media='screen', charset='utf-8')
        script(src='/js/medium-editor.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script.
            var editor=new MediumEditor('.editor')
        script(src='/js/editorAjax.js')
        
    body
        block content
        
