extends layout

block content
    div.container
        div.row
            div.col-md-8
                #doc
                    h1(name='title') #{doc.title}
                    h3(name='shortScript') #{doc.shortScript}
                    h3(name='content') #{doc.content}
                    
