extends layout

block content
    div.container
        div.row
            div.col-md-8
                #doc
                    form.editor.text-center(action='/editor/saved/#{doc._id}',method='POST',role='form')
                        input.form-control(type='text',value='#{doc.title}',name='title')
                        input.form-control(type='text',value='#{doc.shortScript}',name='shortScript')
                        input.form-control(type='textarea',value='#{doc.content}',name='content')
                        input.btn.btn-primary(type='submit',name='save',value='Save')
                        input.btn.btn-primary(type='submit',name='publish',value='Publish')
